<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>yyyyf</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>  
        <servlet-name>coreServlet</servlet-name>  
        <servlet-class>  
            com.auto.bis.CoreServlet
        </servlet-class>  
    </servlet>
    
    <servlet-mapping>  
        <servlet-name>coreServlet</servlet-name>  
        <url-pattern>/coreServlet</url-pattern>  
    </servlet-mapping>  
    
    
   <servlet>
  	<servlet-name>RetreiveAgentCode</servlet-name>
    <servlet-class>com.auto.bis.RetreiveAgentCode</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>CheckAgentTelno</servlet-name>
    <servlet-class>com.auto.bis.CheckAgentTelno</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>QueryAgentNo</servlet-name>
    <servlet-class>com.auto.bis.QueryAgentNo</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RetreiveAgentCode</servlet-name>
    <url-pattern>/RetreiveAgentCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CheckAgentTelno</servlet-name>
    <url-pattern>/CheckAgentTelno</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>QueryAgentNo</servlet-name>
    <url-pattern>/QueryAgentNo</url-pattern>
  </servlet-mapping>
</web-app>